.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: repeat(2, 100px 200px);
  gap: 10px;
  margin-top: 20px;
}

.gridItem {
  background-color: #000;
  color: #999;

  &:nth-child(1) {
    background: yellow;
  }

  &:nth-child(2) {
    background: red;
  }

  &:nth-child(3) {
    background: green;
  }

  &:nth-child(6) {
    background: yellow;
  }

  &:nth-child(4) {
    background: red;
  }

  &:nth-child(5) {
    background: green;
  }

  &:nth-child(9) {
    background: yellow;
  }

  &:nth-child(8) {
    background: red;
  }

  &:nth-child(7) {
    background: green;
  }
}
